{{> nav }}
{{> boilerplate }}

<div class="container mx-auto px-4 mt-6">
  <h1 id="cartHeader" class="text-center text-4xl font-bold text-teal-600 mb-4">{{username}}'s Shopping Cart</h1>

  <table class="w-full mt-6 border-collapse border border-teal-600 shadow-lg">
    <thead class="bg-teal-500 text-white">
      <tr>
        <th class="px-4 py-3">Product</th>
        <th class="px-4 py-3">Price</th>
        <th class="px-4 py-3">Quantity</th>
        <th class="px-4 py-3">Subtotal</th>
        <th class="px-4 py-3">Actions</th>
      </tr>
    </thead>
    <tbody>
      {{!-- Loop through each cart item --}}
      {{#each cartItems}}
      <tr class="border-t border-teal-600 bg-white hover:bg-gray-100 transition duration-150" data-product-id="{{this.Product.id}}">
        <td class="px-4 py-3 text-center">{{this.Product.name}}</td>
        <td class="px-4 py-3 text-center">${{this.Product.price}}</td>
        <td class="px-4 py-3 text-center">
          <input type="number" class="quantity-input w-16 text-center" value="{{this.quantity}}">
        </td>
        <td class="px-4 py-3 text-center">${{multiply this.Product.price this.quantity}}</td>
        <td class="px-4 py-3 text-center">
          <button class="update-button bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-3 rounded" data-id="{{this.id}}">Update</button>
<button class="remove-button bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-3 rounded ml-2" data-id="{{this.id}}">Remove</button>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <div class="flex justify-end mt-6">
    <div class="text-right">
      <p class="text-xl font-bold mb-2">Total: ${{total}}</p>
      <button class="checkout-button bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">Proceed to Checkout</button>
    </div>
  </div>
</div>

{{> footer }}

<script src="/css/index.css"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
<script src="/javascript/cart.js"></script>
<script src="/javascript/checkoutButton.js"></script>
